body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: center;
    gap: 200px;
    font-family: "lilita one", sans-serif;
    font-size: 30px;
    color: bisque;
}
.header2{
    color: bisque;
}

h2{
    margin-top: 0;
    text-align: center;
    font-family: "lilita one", sans-serif;
    font-size: 40px;
    color:red;
    background-color: bisque;
}

a{
    color: white;
    text-decoration: none;
}

.mid{
    margin: 20px 0;
    background-color: bisque;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
    font-family: "lilita one", sans-serif;
    font-size: 20px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.entry {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.entry img {
    width: 100%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.entry a {
    text-decoration: none;
    color: #0073e6;
    font-family: "lilita one", sans-serif;
    font-size: 20px;
}

.entry a:hover {
    text-decoration: underline;
}



